---
import "swiper/css";
import "@styles/styles.scss";
import type { TemplateConfig } from "utils/configType";
import { getAssetPath } from "utils/assets";

const { backgroundGrid, seo, logo, theme, forceTheme } =
  Astro.props as TemplateConfig;

const lang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={lang} data-theme={theme}>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href={getAssetPath("/favicon.svg")} />
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Great+Vibes&display=swap" rel="stylesheet" />

    <style is:global define:vars={{ lang }}>
      [lang="ar"] {
        font-family: 'Cairo', sans-serif !important;
      }
    </style>

    <!-- Primary Meta Tags -->
    <title>{seo.title}</title>
    <meta name="title" content={seo.title} />
    <meta name="description" content={seo.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={seo.title} />
    <meta property="og:description" content={seo.description} />
    <meta property="og:image" content={new URL(getAssetPath(logo), Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={seo.title} />
    <meta property="twitter:description" content={seo.description} />
    <meta property="twitter:image" content={new URL(getAssetPath(logo), Astro.url)} />

    <script is:inline define:vars={{ forceTheme }}>
      const theme = localStorage.getItem("theme");
      if (theme === "dark" && !forceTheme)
        document.documentElement.setAttribute("data-theme", "dark");
    </script>
    <script>
      import Lenis from 'lenis'
      const lenis = new Lenis()

      function raf(time: number) {
        lenis.raf(time)
        requestAnimationFrame(raf)
      }

      requestAnimationFrame(raf)
    </script>
  </head>
  <body class="relative">
    {backgroundGrid && <div class="backgroundGrid" />}
    <slot />
  </body>
</html>
